
.env
*.ini
*.cfg
*.toml


__pycache__/
*.py[cod]
*$py.class


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.venv/
venv/
env/
/venv/
/env/
/build/
        
.ipynb_checkpoints

ServiceAccountCredentials.json